<h4>Featured Movies</h4>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="40%">
    <img class="img" src="https://m.media-amazon.com/images/M/MV5BYzE5MjY1ZDgtMTkyNC00MTMyLThhMjAtZGI5OTE1NzFlZGJjXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SX300.jpg">
    <div class="media-body">
      <h4 class="media-heading">
        Deadpool , 2016
      </h4>
      <p>
        Summary: A fast-talking mercenary with a morbid sense of humor is subjected to a rogue experiment that leaves him with accelerated healing powers and a quest for revenge.
      </p>
      <h5>Awards: Nominated for 2 Golden Globes. Another 27 wins & 73 nominations.</h5>
    </div>
  </div>
  <div fxFlex="40%">
    <img class="img" src="https://m.media-amazon.com/images/M/MV5BMjAzNTkzNjcxNl5BMl5BanBnXkFtZTYwNDA4NjE3._V1_SX300.jpg">
    <div class="media-body">
      <h4 class="media-heading">
        300 , 2006
      </h4>
      <p>
        Summary: King Leonidas of Sparta and a force of 300 men fight the Persians at Thermopylae in 480 B.C.
      </p>
      <h5>Awards: 17 wins & 45 nominations.</h5>
    </div>
  </div>
</div>
